{% extends 'base.html.twig' %}

{% block title %}Kickass product!{% endblock %}

{% block body %}
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Kickass product</h1>
        <p class="lead">Take a sneak peak on our kickass product which will
        definitely change your life! Come along and join our happy customer
        crew.<br/> You are just one click away</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
{% endblock %}
