<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div class="text-center">
          <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
              <div class="inner">
                <h3 class="masthead-brand">Peekaboo</h3>
                <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link active" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Contact</a>
                </nav>
              </div>
            </header>

            {% block body %}{% endblock %}

          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Total awesomeness since 2019 from <span style="color:white">#kickassProducts</span>! <a href="#">Contact us</a></p>
            </div>
          </footer>
      </div>
    </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

          <!-- Renders app.js & a webpack runtime.js file
              <script src="/build/runtime.js"></script>
              <script src="/build/app.js"></script> -->
      {% endblock %}
    </body>
</html>
